:root {
    --prpl: #6f00ff;
    --lt-grn: #358f6e;
    --drk-grn: #264c3a;
    --gld: #ab9d68;
    --orng: #ed5a2e;
    --lt-blu: #afcfde;
    --header-font: 'Amaranth', sans-serif;
    --paragraph-font: 'Overlock', cursive;
}

body{
    background-image: linear-gradient(var(--prpl) 65%, var(--lt-grn));
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

/* overwrite default behavior=============================================================== */

a {
    text-decoration: none;
    color: inherit;
    width: 4rem;
    display: block;
}

button:focus {
    outline:none;
    outline-style: none;
    box-shadow: none;
    }

button:active {
    outline:none;
}

/*========================================================================================== */

.container--all{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.container--content{
    width: 100%;
}

.header{
    color: var(--lt-blu);
    display: flex;
    flex-direction: column;
    font-family: var(--header-font);
    justify-content: center;
    margin-top: 1.5rem;
}

.header > h2, 
.header > p{
    text-align: center;
    margin: 0;
}

.header > p{
    color: var(--lt-grn);
    font-family: var(--paragraph-font);
    margin-top: .5rem;
    font-size: 20px;
}

.header > h2:active{
    text-shadow: 0px 1px 2px var(--drk-grn);
}

.container--menu{
    bottom: 30px;
    color: var(--lt-blu);
    display: flex;
    flex-direction: row;
    font-family: var(--header-font);
    height: fit-content;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
}

.container--menu > h2{
    border-radius: 15px;
    border: 1px solid var(--drk-grn);
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 92px;
}

.container--menu > h2:active{
    border: 1px solid var(--prpl);
    box-shadow: 0px 1px 2px var(--drk-grn);
}

.selector:active{
    color: var(--lt-grn);
} 

@media screen and (min-width: 300px) and (max-width: 414px){
    .container--menu{
        bottom: 8px;
        position: fixed;
    }
    .container--menu > h2{
        font-size: 18px;
        padding: 2px;
    }
}

@media screen and (min-height: 736px) and (min-width: 375px){
    .container--menu{
        bottom: 10px;
        position: fixed;
      }
    .container--menu > h2{
        font-size: 25px;
        padding: 6px;
    }
}

@media screen and (min-height: 812px) and (min-width: 375px){
    .header{
        margin-top: 2.5rem;
    }
    .header > h2{
        font-size: 38px;
    }
    .header > p{
        font-size: 30px
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .header{
        margin-top: 2.5rem;
    }
    .header > h2{
        font-size: 36px;
    }
    .header > p{
        font-size: 28px
    }
    .container--menu{
        bottom: 42%;
        flex-direction: column;
        right: 3%;
        width: fit-content;
    }
    .container--menu > h2{
        border: 2px solid var(--lt-grn);
        font-size: 30px;
        margin: 15px;
        padding: 8px;
        text-align: center;
        width: 110px;
    }
}

@media screen and (min-width: 900px){
    .header{
        align-content: flex-start;
        justify-content: flex-start;
        margin-top: 1.5rem;
    }
    .header:nth-child(2){
        padding-left: 5rem;
        text-align: center;
        width: fit-content;
    }
    .header > h2{
        font-size: 30px;
    }
    .header > p{
        font-size: 24px;
    }
    .container--menu{
        top: 2%;
        flex-direction: column;
        right: 2%;
        width: fit-content;
    }
    .container--menu > h2{
        border: 2px solid var(--lt-grn);
        font-size: 24px; 
    }
}
/* svg styles=============================================================================== */
.container--svg{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    overflow: visible;
    width: 100%;
}

.svg--main{
    overflow: visible;
}

.flower--petals{
    fill: var(--gld);
}

.flower--centers{
    fill: var(--orng);
}

@media screen and (min-width: 300px) and (max-width: 374px){
    .main--svg{
        overflow: visible;
        position: fixed;
        top: 10%;
        transform: scale(.65);
    }
}

@media screen and (min-height: 736px) and (min-width: 375px){
    .main--svg{
      margin-top: 1.5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .container--svg{
        justify-content: flex-start;
    }
    .main--svg{
        height: 80vh;
        padding-left: 2rem;
        transform: scale(1.2);
    }
}