:root {
    --prpl: #6f00ff;
    --lt-grn: #358f6e;
    --drk-grn: #264c3a;
    --gld: #ab9d68;
    --orng: #ed5a2e;
    --lt-blu: #afcfde;
    --header-font: 'Amaranth', sans-serif;
    --paragraph-font: 'Overlock', cursive;
}

body{
    background-image: linear-gradient(var(--prpl) 80%, var(--lt-grn));
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

/* overwrite default behavior=============================================================== */

a {
    text-decoration: none;
    color: inherit;
    width: 4rem;
    display: block;
}

button:focus {
    outline:none;
    outline-style: none;
    box-shadow: none;
    }

button:active {
    outline:none;
}

/*========================================================================================== */

.container--all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container--content{
    width: 100%;
}

.header{
    color: var(--lt-blu);
    display: flex;
    flex-direction: column;
    font-family: var(--header-font);
    justify-content: center;
    margin-top: 1.5rem;
}

.header > h2, 
.header > p{
    text-align: center;
    margin: 0;
}

.header > p{
    color: var(--lt-grn);
    font-family: var(--paragraph-font);
    margin-top: .5rem;
    font-size: 20px;
}

.header > h2:active{
    text-shadow: 0px 1px 2px var(--drk-grn);
}

.container--menu{
    bottom: 20px;
    color: var(--lt-blu);
    display: flex;
    flex-direction: row;
    font-family: var(--header-font);
    height: fit-content;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
}

.container--menu > h2{
    border-radius: 15px;
    border: 1px solid var(--drk-grn);
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 92px;
}

.container--menu > h2:active{
    border: 1px solid var(--prpl);
    box-shadow: 0px 1px 2px var(--drk-grn);
}

.selector:active{
    color: var(--lt-grn);
} 

/* svg styles=============================================================================== */
.container--svg{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    margin: 0 auto;
    max-width: 320px;
    max-height: 500px;
    overflow: visible;
    position: relative;
    width: 100%;
}

.flower--petals{
    fill: var(--gld);
}

.flower--centers{
    fill: var(--orng);
}
