/* queries for mainStyles=================================================== */

/* mobile=================================================================== */
@media all and (max-width: 320px) {
  .container--svg {
    padding-bottom: 75%;
  }
  .main--svg {
    transform: scale(0.7);
  }
}
@media all and (min-height: 736px) {
  .container--menu {
    top: 14%;
  }
}
@media all and (min-height: 812px) {
  .header > h1 {
    font-size: 2rem;
  }
  .menu--selector {
    font-size: 1.5rem;
  }
}

/* desktop=============================================================================*/
@media all and (min-width: 500px) {
  .header {
    margin: 1.5rem auto 0;
  }
  .header > h1 {
    font-size: 2rem;
  }
  .header > p {
    font-size: 1.5rem;
  }
  .container--svg {
    top: 18%;
  }
  .main--svg {
    transform: scale(0.8);
  }
  .container--menu {
    top: 90%;
  }
  .menu--selector {
    font-size: 1.5rem;
    width: 8rem;
  }
}

@media all and (min-width: 900px) {
  .container--all {
    align-items: flex-start;
  }
  .header {
    margin: 10%;
    width: 16rem;
  }
  .header > h1 {
    font-size: 1.5rem;
  }
  .header > p {
    font-size: 1.2rem;
  }
  .container--svg {
    align-self: flex-end;
    left: 47%;
    padding-bottom: 40%;
    width: 42%;
  }
  .main--svg {
    transform: scale(1);
  }
  .container--menu {
    flex-direction: column;
    left: 10%;
    top: 50%;
    width: fit-content;
  }
  .menu--selector {
    box-sizing: border-box;
    font-size: 1.5rem;
    margin: 1rem 0;
    width: 16rem;
  }
}

/* queries for modalStyles================================================== */

/* mobile=================================================================== */
@media all and (max-width: 320px) {
  .sonarWave {
    left: calc(50% - 25px);
    height: 50px;
    top: 86%;
    width: 50px;
  }
  .navArrow {
    left: calc(50% - 25px);
    height: 50px;
    top: 86%;
    width: 50px;
  }
  .projectContainerEach {
    padding-top: 5%;
  }
  .projectPreviewImg {
    height: 130px;
    width: auto;
  }
  .projectTech {
    font-size: 0.7rem;
  }
}

@media all and (min-height: 736px) {
  .projectContainerEach {
    padding-top: 15%;
  }
  .projectStatement {
    font-size: 1.3rem;
  }
  .projectLogo {
    max-height: 4rem;
  }
  .projectTech {
    font-size: 1rem;
  }
}

@media all and (min-height: 812px) {
  .sonarWave {
    left: calc(50% - 40px);
    height: 80px;
    top: 80%;
    width: 80px;
  }
  .navArrow {
    left: calc(50% - 40px);
    height: 80px;
    top: 80%;
    width: 80px;
  }
  .aboutSections {
    padding-top: 44%;
  }
  .aboutIntroSectionContainer {
    padding-top: 0;
  }
  .projectContainerEach {
    padding-top: 15%;
  }
}

/* desktop===================================================================== */
@media all and (min-width: 500px) {
  .modal {
    background-image: linear-gradient(#afcfde 95%, #afcfde00);
    height: 70%;
    left: 7.5%;
    top: 18%;
    width: 85%;
  }
  .sonarWave {
    height: 80px;
    left: 80%;
    top: 20%;
    width: 80px;
  }
  .navArrow {
    height: 80px;
    left: 80%;
    top: 20%;
    width: 80px;
  }
  .contentIcon {
    width: 15%;
  }
  /* 'about' section======================================================== */
  .aboutStatement {
    font-size: 1.5rem;
  }
  .aboutSections {
    font-size: 2.5rem;
    padding-top: 15%;
  }
  .aboutSections > h3 {
    font-size: 2.4rem;
  }
  .techIcon {
    font-size: 3.5rem;
  }

  /* 'projects' section===================================================== */
  .projectsIntroSectionContainer {
    margin-bottom: 25%;
    padding-bottom: 0;
  }
  .projectStatement {
    font-size: 1.5rem;
  }
  .projectContainerEach {
    padding-top: 5%;
  }
  .projectLogo {
    max-height: 4rem;
  }
  .projectLinks {
    justify-content: space-evenly;
  }
  .projectLinks > a {
    font-size: 1.5rem;
  }
  .projectPreviewImg {
    height: 200px;
  }
  .projectTech {
    font-size: 1.2rem;
    width: 75%;
  }
  /* contact section======================================================= */
  .linkContainer > a {
    font-size: 1.5rem;
    width: 36%;
  }
  .contactContainer > p {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 900px) {
  .modal {
    background-image: linear-gradient(#afcfde 90%, #afcfde00);
    height: 84%;
    left: 47%;
    top: 10%;
    width: 42%;
  }
  .sonarWave {
    height: 90px;
    left: 79%;
    top: 79%;
    width: 90px;
  }
  .navArrow {
    height: 90px;
    left: 79%;
    top: 79%;
    width: 90px;
  }
  /* 'about' section======================================================== */

  .aboutStatement {
    font-size: 1.5rem;
  }
  .aboutSections {
    padding-top: 30%;
  }
  .aboutSections > h3 {
    font-size: 2rem;
  }
  .aboutIntroSectionContainer {
    padding-top: 0;
  }
  .techIcon {
    font-size: 2.5rem;
  }

  /* 'projects' section===================================================== */

  .projectStatement {
    font-size: 1.5rem;
  }
  .projectContainerEach {
    padding-top: 15%;
  }
  .projectLogo {
    max-height: 4.5rem;
  }
  .projectLinks > a {
    font-size: 1.2rem;
    width: 20%;
  }
  .projectPreviewImg {
    height: 180px;
  }
  .projectTech {
    box-sizing: border-box;
    font-size: 1rem;
    width: 80%;
  }
  /* contact section======================================================= */
  .linkContainer > a {
    font-size: 1.5rem;
    width: 28%;
  }
  .contactContainer > p {
    font-size: 1.5rem;
  }
}
