.modal::-webkit-scrollbar{
    background: none;
}

.modal::-webkit-scrollbar-corner{
    display: none;
}

.modal{
    animation: fadeIn 2s;
    box-sizing: border-box;
    height: 300px;
    overflow-y: scroll;
    padding: 70px 10px;
    scroll-behavior: smooth;
    text-align: center;
    width: 308px;
    -webkit-animation: fadeIn 2s; 
    z-index: 500;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* displayNone applied dynamically to content modal and child sections======================== */

#displayNone{
    display: none;
}

.displayNone{
    display: none;
}

/* icon at head of each section============================================================= */
.contentIcon{
    margin: 0 auto;
    width: 23%;
}

/* 'about' modal============================================================================ */

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 3.7%;
    position: relative;
    width: 100%;
}

.briefStatement{
    color: var(--prpl);
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin: 1rem auto;
    padding: 1rem;
}

.aboutTechContainer{
    color: var(--prpl);
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.section{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    color: var(--prpl);
    width: inherit;
}

.section > h3{
    color: var(--prpl);
    font-family: var(--header-font);
    font-size: 1.4rem;
    margin: 1rem auto;
    padding: .5rem;
    width: 100%;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.techIcon{
    color: var(--prpl);
    font-size: 2rem;
    margin: .8rem;
    width: fit-content;
}

/* 'projects' modal ======================================================================== */
.projectsContainerAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 3.7%;
    position: relative;
    width: 100%;
}

.projectContainerEach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
}

.projectLogo{
    margin-top: .5rem;
    max-height: 4rem;
}

.projectLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4% auto;
    width: 100%;
}

.projectLinks > a{
    border: 1px solid var(--prpl);
    border-radius: 15px;
    color: var(--prpl);
    cursor: pointer;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin: 5px auto;
    padding: .5rem;
    text-align: center;
    width: fit-content;
}

/* .projectScreenCap{
    width: 90%;
    padding: .75rem;
} */

.projectDescription{
    color: var(--prpl);
    font-size: 1.2rem;
    font-family: var(--paragraph-font);
}

.projectTech{
    border: 1px dashed var(--prpl);
    color: var(--prpl);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    font-family: var(--paragraph-font);
    font-weight: bolder;
    justify-content: center;
    margin: 0 auto;
    padding: .5rem;
    width: 75%;
}

/* 'contact' modal====================================================== */

.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 2.9%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem auto;
    margin-top: 2rem;
}

.linkContainer > a{
    color: var(--prpl);
    border: 1px solid var(--prpl);
    border-radius: 15px;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin: 0 6%;
    padding: 4%;
    width: fit-content;
}

.contactContainer > p{
    color: var(--prpl);
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin: 1% auto;
    text-align: center;
}
