.modal {
  animation: fadeIn 2s;
  background-image: linear-gradient(#afcfde 95%, #afcfde00);
  border-radius: 15px;
  box-sizing: border-box;
  height: 73.19%;
  left: 2.5%;
  overflow: hidden;
  padding: 0 5%;
  position: fixed;
  text-align: center;
  top: 24%;
  width: 95%;
  z-index: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* sonar efect for navigation arrow */
.sonarWave {
  animation: sonarWave 2s linear;
  animation-delay: 1s;
  border-radius: 50%;
  height: 70px;
  left: 75%;
  position: fixed;
  top: 75%;
  width: 70px;
  z-index: 600;
}

@keyframes sonarWave {
  from {
    background: var(--prpl);
    opacity: 1;
  }
  to {
    background: var(--orng);
    transform: scale(2);
    opacity: 0;
  }
}

/* navigation arrow=========================================================================== */

.navArrow {
  background-color: var(--lt-blu);
  border-radius: 50%;
  box-shadow: 0px 0px 5px var(--prpl);
  cursor: pointer;
  height: 70px;
  left: 75%;
  position: fixed;
  top: 75%;
  width: 70px;
  z-index: 600;
}

/* displayNone applied dynamically to content modal and child sections======================== */

#displayNone {
  display: none;
}

.displayNone {
  display: none;
}

/* remove scrollbar from content containers================================================= */

*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  display: none;
}
*::-webkit-scrollbar-corner {
  display: none;
}

/* icon removed from all sections except 'contact'===========================================*/
.contentIcon {
  margin: 0 auto;
  margin-top: 15%;
  width: 23%;
}

/* 'about' modal============================================================================ */
.aboutContainer {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 100%;
  overflow: hidden;
  width: 100%;
}

.aboutIntroSectionContainer {
  padding-top: 0;
}

.aboutStatement {
  color: var(--prpl);
  font-family: var(--paragraph-font);
  font-size: 1rem;
  margin: 1rem auto;
  padding: 6rem 1rem;
}

.aboutSectionsContainer {
  color: var(--prpl);
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height: fit-content;
  justify-content: center;
  padding-bottom: 100%;
  text-align: center;
  width: 100%;
}

.aboutSections {
  align-content: flex-start;
  box-sizing: border-box;
  color: var(--prpl);
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  margin: 100% auto;
  padding-top: 8%;
  text-align: center;
  width: inherit;
}

.aboutSections > h3 {
  color: var(--prpl);
  font-family: var(--header-font);
  font-size: 1.4rem;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 100%;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.techIcon {
  color: var(--prpl);
  font-size: 3rem;
  margin: 0.5rem;
  width: fit-content;
}

/* 'projects' modal ======================================================================== */

.projectsContainer {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 100%;
  overflow: hidden;
  width: 100%;
}

.projectStatement {
  color: var(--prpl);
  font-family: var(--paragraph-font);
  font-size: 1rem;
  margin: 1rem auto;
  padding: 6rem 1rem;
}

.projectContainerEach {
  align-content: flex-start;
  box-sizing: border-box;
  color: var(--prpl);
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height: 100%;
  justify-content: center;
  margin: 50% auto;
  padding-top: 5%;
  text-align: center;
  width: inherit;
}

.projectLogo {
  max-height: 4rem;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.projectLinks > a {
  border: 1px solid var(--prpl);
  border-radius: 15px;
  color: var(--prpl);
  cursor: pointer;
  font-family: var(--paragraph-font);
  font-size: 1rem;
  margin-top: 0.75rem;
  padding: 5px;
  text-align: center;
  width: 25%;
}

.projectDescription {
  color: var(--prpl);
  font-size: 1.2rem;
  font-family: var(--paragraph-font);
}

.projectPreviewImg {
  margin: 1rem;
  height: 120px;
  width: auto;
}

.projectTech {
  background-color: var(--lt-blu);
  border: 1px dashed var(--prpl);
  color: var(--prpl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-family: var(--paragraph-font);
  font-weight: bolder;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem;
  width: 50%;
}

/* 'contact' modal====================================================== */

.contactContainer {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem auto;
  margin-top: 2rem;
  width: 100%;
}

.linkContainer > a {
  color: var(--prpl);
  border: 1px solid var(--prpl);
  border-radius: 15px;
  font-family: var(--paragraph-font);
  font-size: 1rem;
  margin: 0 6%;
  padding: 4%;
  width: fit-content;
}

.contactContainer > p {
  color: var(--prpl);
  font-family: var(--paragraph-font);
  font-size: 1rem;
  margin: 1% auto;
  text-align: center;
}
