:root {
    --prpl: #6f00ff;
    --lt-grn: #358f6e;
    --drk-grn: #264c3a;
    --gld: #ab9d68;
    --orng: #ed5a2e;
    --lt-blu: #afcfde;
    --header-font: 'Amaranth', sans-serif;
    --paragraph-font: 'Overlock', cursive;
}

body{
    background-image: linear-gradient(var(--prpl) 65%, var(--lt-grn));
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

/* overwrite default behavior=============================================================== */

a {
    text-decoration: none;
    color: inherit;
    width: 4rem;
    display: block;
}

button:focus {
    outline:none;
    outline-style: none;
    box-shadow: none;
    }

button:active {
    outline:none;
}

.container--all{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.container--content{
    width: 100%;
}

.header{
    color: var(--lt-blu);
    display: flex;
    flex-direction: column;
    font-family: var(--header-font);
    justify-content: center;
    margin-top: 1.5rem;
}

.header > h2, 
.header > p{
    text-align: center;
    margin: 0;
}

.header > p{
    color: var(--lt-grn);
    font-family: var(--paragraph-font);
    margin-top: .5rem;
    font-size: 20px;
}

.header > h2:active{
    text-shadow: 0px 1px 2px var(--drk-grn);
}

.container--menu{
    color: var(--lt-blu);
    display: flex;
    flex-direction: row;
    font-family: var(--header-font);
    height: fit-content;
    justify-content: space-around;
}

.container--menu > h2{
    border-radius: 15px;
    border: 1px solid var(--drk-grn);
    padding: 5px;
    text-align: center;
    width: 92px;
}

.container--menu > h2:active{
    border: 1px solid var(--prpl);
    box-shadow: 0px 1px 2px var(--drk-grn);
}

.selector:active{
    color: var(--lt-grn);
} 

/* svg styles=============================================================================== */
.container--svg{
    display: flex;
    overflow: visible;
    width: 100%;
}

.flower--petals{
    fill: var(--gld);
}

.flower--centers{
    fill: var(--orng);
}

/* modal=================================================================================== */

.modal::-webkit-scrollbar{
    background: none;
}

.modal::-webkit-scrollbar-corner{
    display: none;
}

.modal{
    box-sizing: border-box;
    height: 52.5vh;
    left: 28px;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 25px 20px 40px 20px;
    position: fixed;
    scroll-behavior: smooth;
    text-align: center;
    top: 108px;
    transition: all 1s;
    width: 90vw;
    z-index: 200;
}

.displayNone{
    display: none;
}

/* 'about' modal============================================================================ */

.aboutImage{
    width: 23%;
}

.aboutHeader p{
    color: var(--prpl);
    font-family: var(--paragraph-font);
    font-size: 20px;
}

.aboutTechContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.aboutTechContainer h3{
    color: var(--prpl);
    display: block;
    font-family: var(--header-font);
    font-size: 24px;
    margin: 1rem auto;
    padding: .5rem;
    width: 10rem;
}

.aboutTechContainer i{
    font-size: 32px;
    margin: .5rem;
}

.aboutTechContainer p{
    font-family: var(--paragraph-font);
    font-size: 18px;
}

.techIcon{
    color: var(--prpl);
    margin: 5px;
    width: 70px;
}

.frontEnd{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    color: var(--prpl);
    width: 80%;
    margin: 0 auto;
}

.backEnd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #90ff00;
    margin: 0 auto;
}

.serverDb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.etAl{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    color: #90ff00;
    width: 80%;
    margin: 0 auto;
}

/* 'projects' modal ======================================================================== */
.projectsImage{
    width: 23%;
}

.elgContainer{
    border-bottom: solid 2px var(--prpl);
    padding: 1rem;
}

.elgLogo{
    padding: .75rem;
    width: 70%;
}

.elgCap{
    width: 90%;
    padding: .75rem;
}

.emOceansContainer{
    border-bottom: solid 2px var(--prpl);;
    padding: 1rem;
}

.emOceansLogo{
    padding: .75rem;
    width: 55%;
}

.emOceansCap{
    width: 90%;
    padding: .75rem;

}

.pithosContainer{
    padding: 1rem;
}

.pithosLogo{
    padding: .75rem;
    width: 35%;
}

.pithosCap{
    width: 90%;
    padding: .75rem;
}

.projectLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectLinks a{
    border: 1px solid var(--prpl);
    border-radius: 15px;
    color: var(--prpl);
    font-family: var(--header-font);
    font-size: 24px;
}

.elgProjectLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elgProjectLinks a{
    font-size: 24px;
    color: var(--prpl);;
    font-family: var(--header-font);
    border: 1px solid var(--prpl);
    border-radius: 15px;
    margin-bottom: 5px;
}

.elgProjectLinks h2{
    font-size: 18px;
    color: var(--prpl);;
    font-family: var(--header-font);
    margin: 0;
}

.projectsContainer h3{
    font-size: 24px;
    color: var(--prpl);;
    font-family: var(--header-font);
    margin: 16px auto 12px auto;
}

.projectsContainer p{
    font-size: 18px;
    color: var(--prpl);;
    font-family: var(--paragraph-font);
}

